data/
.ipynb_checkpoints
*/.ipynb_checkpoints
Salinity.bigfile
gebco_30sec_16.nc
*.nc
00_notebooks_basics.slides.html
CDI-list-export.zip
Adriatic*
out*.html
postprocessing/test*
test*ipynb
*.xml
../SurveyMonkey*
